body {
    background-color: #f5f5f5;
    font-family: 'Source Sans Pro', sans-serif;
    color: #22272E;
}
div.header-container {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #d0d0d0;
}
div.container {
    width: 800px;
    margin: auto;
}
div.notification {
    background-color: red;
    text-align: center;
    color: white;
}
div.data-container {
    border-radius: 10px;
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    clear:both;
    overflow: auto;
}
div.disclaimer {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    clear:both;
    overflow: auto;
    font-size: 70%;
}
h2 {
    border-bottom: 1px solid #F8F9FA;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
}
h1 {
    font-size: large;
    font-weight: 600;
    padding-left: 60px;
}
table.summary  {
    margin: 10px auto auto auto;
    border-collapse: collapse;
}
table.summary td {
    padding: 8px;
    border-bottom: 1px solid #F8F9FA;
}
em { 
    font-weight: 600;
}
table.data  {
    border-collapse: collapse;
    text-align: center;
    margin: 10px 10px 0px 10px;
    font-size: 80%;
    width: 96%;
}
table.data th {
    font-weight: 600;
    padding: 0px 10px 0px 10px;
}
table.data td {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #F8F9FA;
}
table.data th {
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #F8F9FA;
}
td.left, th.left {
    text-align: left;
    padding-left: 0px !important
}
table.data-left {
    text-align: left !important;
}
table.data-left td:first-child {
    width: 30%;
}

a.homeref:link, a.homeref:visited {
    color: inherit;
    opacity: 0.8;
}
/* All this to get the ink drops to overlap... */
.inkdrops {
    position:absolute;
    font-size:25px;
}
.inkdropheadercyan {
    transform: rotate(180deg) translateX(55px);
}
.inkdropheadermagenta {
    transform: rotate(180deg) translateX(36px);
}
.inkdropheaderyellow {
    transform: rotate(180deg) translateX(18px);
}
.inkdropheaderblack {
    transform: rotate(180deg) translateX(0px);
}
.inkdropsmall {
    vertical-align:middle;
    font-size: 90%;
    transform: rotate(180deg);
}
.cyan {
    color:cyan;
}
.magenta {
    color:magenta;
}
.yellow {
    color:#f7e64f;
}
.black {
    color:black;
}
.white {
    color: white;
    filter: drop-shadow(-1px -1px 1px black)
}
.bottom {
    text-align: right;
    opacity: 0.5;
    font-size: 50%;
    margin-top: 20px;
}
.data a:link, .data a:visited {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}
.data a:hover {
    text-decoration: underline;
}

div.home {
    float: right;
}
.home a:link, .home a:visited {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}