<html>
    <head>
        <title>Colorado Usage Report</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>
        {# Check to see if the data returned None - this happens with empty databases (or maybe other errors #}
        {% if sqm is none %}
        <div class="notification">
                <p>Sorry, there has been an error. It is probably a result of having an empty database. Check your <em>config.py</em> file.</p>
            </div>
        {% else %}
        {% if latestversion is not none and latestversion > currentversion %}
        <div class="notification">
            <p>Note: There is a new version of these scripts available online. You have {{ currentversion }} and the latest is {{ latestversion }}</p>
                <p>Visit <a class="homeref" href="{{ home_url }}">{{ home_url }}</a> to download.</p>
        </div>
        {% endif %}
        <div class="header-container">
            <div class="container">
                    <div class="inkdrops">
                        <span class="material-icons black inkdropheaderblack">room</span>
                        <span class="material-icons yellow inkdropheaderyellow">room</span>
                        <span class="material-icons magenta inkdropheadermagenta">room</span>
                        <span class="material-icons cyan inkdropheadercyan">room</span>
                    </div>
                    <h1>Colorado Usage Report</h1>
            </div> <!-- Container-->

        </div> <!-- Header Container-->
           
            <div class="data-container">
                <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">view_list</span>Overall Consumption</h2>
                <!-- Graphs -->
                <div style="width:200px; height:200px; float: left;">
                        <svg width="100%" height="100%" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="35" fill="gray" />
                            <circle cx="50" cy="50" r="30" fill="white" />
                            <circle cx="25" cy="25" r="20" fill="gray" />
                            <circle cx="75" cy="75" r="20" fill="gray" />
                        
                            <path id="outside" fill="transparent" d="M 50 0 A 10 10 -45 0 1 50 100" />
                            <text letter-spacing="1.1" font-size="8" font-family="sans-serif" fill="gray" stroke="none" text-anchor="middle" x="50" y="50" dy="12">
                                <textPath xlink:href="#outside" startOffset="-10">
                                    Total Usage
                                </textPath>
                            </text>   
                            {% if (sqm <= 999999) %}
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="-2">{{ "{:.1f}".format(sqm) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="6">m&sup2;</text>
                            {% else %}
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="-2">{{ "{:.1f}".format(sqm/1000000) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="6">km&sup2;</text>
                            {% endif %}
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="75" y="75" dy="0">{{ "{:.1f}".format(mls/1000) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="75" y="75" dy="8">L</text>
                            Sorry, your browser does not support inline SVG.
                        </svg> 
                    </div>

                <div style="width:200px; height:200px; float:left;">
                        <svg width="100%" height="100%" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="35" fill="gray" />
                            <circle cx="25" cy="25" r="20" fill="gray" />
                            <circle cx="75" cy="75" r="20" fill="gray" />
                        
                            <path id="outside" fill="transparent" d="M 50 0 A 10 10 -45 0 1 50 100" />
                            <text letter-spacing="1.1" font-size="8" font-family="sans-serif" fill="gray" stroke="none" text-anchor="middle" x="50" y="50" dy="12">
                                <textPath xlink:href="#outside" startOffset="-10">
                                    Average per m&sup2;
                                </textPath>
                            </text>   
                    
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="-2">{{ "{:.1f}".format(mls/sqm) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="25" y="25" dy="6">ml</text>
                            <text font-size="15" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="50" y="50" dy="5">{{ "${:.2f}".format(spend/sqm) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="75" y="75" dy="0">{{ "{:.2f}".format(sqm/runtimehours) }}</text>
                            <text font-size="8" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle" x="75" y="75" dy="8">m&sup2;/hr</text>
                            Sorry, your browser does not support inline SVG.
                        </svg> 
                    </div>
                <!-- Data Table -->
                <table class="summary">
                    <tr>
                        <td>Total Square Meters</td>
                        <td><em>{{ "{:.1f}".format(sqm) }}</em></td>
                    </tr>
                    <tr>
                        <td>Total Mls</td>
                        <td><em>{{ "{:.1f}".format(mls) }}</em></td>
                    </tr>
                    <tr>
                        <td>Average mls/sqm</td>
                        <td><em>{{ "{:.1f}".format(mls/sqm) }}</em></td>
                    </tr>
                    <tr>
                        <td>Average Ink cost/sqm</td>
                        <td><em>{{ "${:.2f}".format(spend/sqm) }}</em></td>
                    </tr>
                    <tr>
                        <td>Average Speed sqm/hr</td>
                        <td><em>{{ "{:.2f}".format(sqm/runtimehours) }}</em></td>
                    </tr>
                </table>
    </div>
    <div class="data-container">
        <!------------------------------------>
        <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">opacity</span>Ink and Usage by Media</h2>
        <table class="data">
            <tr>
                <th class="left">Media Name</th>
                <th>Area (m&sup2;)</th>
                <th>Total Ink (ml)</th>
                <th>Avg Ink (ml/m&sup2;)</th>
                <th>Avg Ink ($/m&sup2;)</th>
            </tr>
            {% for row in inkcompbymedia %}
            <tr>
                <td class="left">{{ row['mediatype'] }}</td>
                <td>{{ "{:.2f}".format(row["area"]/1000000) }}</td>
                <td>{{ "{:.1f}".format(row["ink"]/1000) }}</td>

                {% if row["area"]|float > 0 %}
                {% set inkpersq = (row["ink"]|float / 1000) / (row["area"]|float / 1000000) %}
                  <td>{{ "{:.1f}".format(inkpersq) }}</td>
                {% else %}
                {% set inkpersq = -1 %}
                <td>Unknown</td>
                {% endif %}

                {% if inkpersq > 0 %}
                  <td>{{ "${:.2f}".format(row["inkprice"]/(row["area"]|float / 1000000)) }}</td>
                {% else %}
                <td>Unknown</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="data-container">
        <!------------------------------------>
        <!------------------------------------>
        <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">invert_colors</span>Ink and Usage by Print Mode</h2>
        <table class="data">
            <tr>
                <th>Media Name</th>
                <th>Printed Area (m&sup2;)</th>
                <th>Total Ink (ml)</th>
                <th>Average Ink Usage (ml/m&sup2;)</th>
                <th>Average Ink Cost/m&sup2;</th>
            </tr>
            {% for row in inkcompbymode %}
            <tr>
                <td>{{ row['printmode'] }}</td>
                <td>{{ "{:.2f}".format(row["area"]/1000000) }}</td>
                <td>{{ "{:.1f}".format(row["ink"]/1000) }}</td>

                {% if row["area"]|float > 0 %}
                {% set inkpersq = (row["ink"]|float / 1000) / (row["area"]|float / 1000000) %}
                  <td>{{ "{:.1f}".format(inkpersq) }}</td>
                {% else %}
                <td>Unknown</td>
                {% endif %}

                {% if inkpersq > 0 %}
                  <td>{{ "${:.2f}".format(row["inkprice"]/(row["area"]|float / 1000000)) }}</td>
                {% else %}
                <td>Unknown</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="data-container">
        <!------------------------------------>
        <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">description</span>Job Details (Last {{ lastjobs|length }} jobs)</h2>
        <table class="data">
            <tr>
                <th class="left">Jobname</th>
                <th>Media</th>
                <th>Print Mode</th>
                <th>Status</th>
                <th>Area (m&sup2;)</th>
                <th>Ink (ml)</th>
                <th>Ink Cost</th>
            </tr>
            {% for row in lastjobs %}
            <tr>
                <td class="left"><a href="{{ url_for('jobdetails') }}?jobid={{ row['jobid'] }}&documentid={{ row['documentid']}}">{{ row['jobname']|truncate(40) }}</a></td>
                <td>{{ row["mediatype"]|truncate(15) }}</td>
                <td>{{ row["printmode"] }}</td>
                <td>{{ row["result"] }}</td>
                <td>{{ "{:.2f}".format(row["area"]|float/1000000) }}</td>
                <td>{{ "{:.1f}".format(row["ink"]|float/1000) }}</td>
                <td>{{ "${:.2f}".format(row["inkprice"]|float) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <div class="disclaimer">
        <p>Please note that ink usage is based on droplets fired by the print head and excludes ink used as part of maintenanace processes.</p>
    </div>
    <div class="bottom">
        <p>Generated: {{ now }}</p>
    </div>
</body>
</html> 