<html>
    <head>
        <title>Colorado Usage Report</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>

    <body>
        {# Check to see if the data returned None - this happens with empty databases (or maybe other errors #}
        {% if alljobdetails is none %}
        <div class="notification">
                <p><span class="material-icons" style="vertical-align:middle;">warning</span>Sorry, I don't have any data for that job.</p>
            </div>
        {% else %}
        <div class="header-container">
            <div class="container">
                    <div class="inkdrops">
                        <span class="material-icons black inkdropheaderblack">room</span>
                        <span class="material-icons yellow inkdropheaderyellow">room</span>
                        <span class="material-icons magenta inkdropheadermagenta">room</span>
                        <span class="material-icons cyan inkdropheadercyan">room</span>
                    </div>
                    <h1>Colorado Job Report<div class="home"><a href="/"><span class="material-icons">home</span></a></div></h1>
                    
            </div> <!-- Container-->
        </div> <!-- Header Container-->

        {% for jobdetails in alljobdetails %}
        <div class="data-container">
            <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">view_list</span>Job Information</h2>
            <table class="data data-left">
                <tr>
                    <td>Job Name</td>
                    <td>{{ jobdetails["jobname"] }}</td>
                </tr>
                <tr>
                    <td>Job ID / Document ID</td>
                    <td>{{ jobdetails["jobid"] }} / {{ jobdetails["documentid"] }}</td>
                </tr>
            </table>
        </div>
        <div class="data-container">
            <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">print</span>Print Summary</h2>
            <table class="data data-left">
                <tr>
                    <td>Print Mode</td>
                    <td>{{ jobdetails["printmode"] }}</td>
                </tr>
                <tr>
                    <td>Print Start</td>
                    <td>{{ jobdetails["startdate"] }} {{ jobdetails["starttime"] }}</td>
                </tr>
                <tr>
                    <td>Active time/Idle Time</td>
                    <td>{{ jobdetails["activetime"] }} / {{ jobdetails["idletime"] }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ jobdetails["result"] }}</td>
                </tr>
                <tr>
                    <td>Copies Requested</td>
                    <td>{{ jobdetails["copiesrequested"] }}</td>
                </tr>
                <tr>
                    <td>Finished Sets</td>
                    <td>{{ jobdetails["noffinishedsets"] }}</td>
                </tr>
            </table>
        </div>

        <div class="data-container">
            <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">select_all</span>Media Usage</h2>
            <table class="data data-left">
                <tr>
                    <td>Media Name</td>
                    <td>{{ jobdetails["mediatype"] }}</td>
                </tr>
                <tr>
                    <td>Media Width</td>
                    <td>{{ jobdetails["mediawidth"]|int / 10 }}mm</td>
                </tr>
                {% set paperusedsqm = (jobdetails["mediawidth"]|int) * (jobdetails["medialengthused"]|int) / 100000000 %}
                {% set printedsqm = jobdetails["printedarea"]|int / 1000000 %}
                <tr>
                    <td>Media Usage</td>
                    <td>{{ "{:.3f}m".format(jobdetails["medialengthused"]|int / 10000) }}
                        {{ " ({:.3f}m&sup2;)".format(paperusedsqm) }}
                    </td>
                </tr>
                <tr>
                    <td>Printed Area</td>
                    <td>{{ "{:.3f}".format(printedsqm) }}m&sup2;</td>
                </tr>
                {% if paperusedsqm > 0 %}
                    {% set wastage = (paperusedsqm - printedsqm) / paperusedsqm * 100 %}
                {% else %}
                    {% set wastage = 0 %}
                {% endif %}
                <tr>
                    <td>Wastage</td>
                    <td>{{ "{:.1f}%".format(wastage) }}</td>
                </tr>
            </table>
        </div>

        <div class="data-container">
            <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle">opacity</span>Ink Summary</h2>
            <table class="data data-left">
                <tr>
                    <td>Ink Price</td>
                    <td><span class="material-icons inkdropsmall cyan">pin_drop</span>{{ "${}/ml".format(inkcosts[0]) }}
                    <span class="material-icons inkdropsmall magenta">pin_drop</span>{{ "${}/ml".format(inkcosts[1]) }}
                    <span class="material-icons inkdropsmall yellow">pin_drop</span>{{ "${}/ml".format(inkcosts[2]) }}
                    <span class="material-icons inkdropsmall black">pin_drop</span>{{ "${}/ml".format(inkcosts[3]) }}
                    <span class="material-icons inkdropsmall white">pin_drop</span>{{ "${}/ml".format(inkcosts[4]) }}
                </tr>
                {% set total = (jobdetails["inkcolorcyan"]|int + jobdetails["inkcolormagenta"]|int + jobdetails["inkcoloryellow"]|int + jobdetails["inkcolorblack"]|int + jobdetails["inkcolorwhite"]|int)/1000 %}
                <tr>
                    <td>Total Ink Usage</td>
                    <td>{{ total }}ml</td>
                </tr>
                <tr>
                    <td>Total Ink Price</td>
                    <td>{{ "${:.2f}".format(jobdetails["inkprice"]) }}
                    {% if paperusedsqm > 0 %}
                        {{ " (${:.2f}/m&sup2;)".format(jobdetails["inkprice"] / printedsqm) }}
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <div class="data-container">
            <h2><span class="material-icons" style="margin-right: 10px; vertical-align:middle; transform: rotate(180deg);">pin_drop</span>Ink Breakdown</h2>
            <table class="data data-left">
                 <tr>
                    <td><span class="material-icons inkdropsmall cyan">pin_drop</span>Cyan Usage</td>
                    <td>{{ "{}ml".format(jobdetails["inkcolorcyan"]|int/1000) }}
                    {{ "(${:.2f})".format(jobdetails["inkcolorcyan"]|int/1000*inkcosts[0]) }}</td>
                </tr>
                <tr>
                    <td><span class="material-icons inkdropsmall magenta">pin_drop</span>Magenta Usage</td>
                    <td>{{ "{}ml".format(jobdetails["inkcolormagenta"]|int/1000) }}
                    {{ " (${:.2f})".format(jobdetails["inkcolormagenta"]|int/1000*inkcosts[1]) }}</td>
                </tr>
                <tr>
                    <td><span class="material-icons inkdropsmall yellow">pin_drop</span>Yellow Usage</td>
                    <td>{{ "{}ml".format(jobdetails["inkcoloryellow"]|int/1000) }}
                    {{ " (${:.2f})".format(jobdetails["inkcoloryellow"]|int/1000*inkcosts[2]) }}</td>
                </tr>
                <tr>
                    <td><span class="material-icons inkdropsmall black">pin_drop</span>Black Usage</td>
                    <td>{{ "{}ml".format(jobdetails["inkcolorblack"]|int/1000) }}
                    {{ " (${:.2f})".format(jobdetails["inkcolorblack"]|int/1000*inkcosts[3]) }}</td>
                </tr>
                <tr>
                    <td><span class="material-icons inkdropsmall white">pin_drop</span>White Usage</td>
                    <td>{{ "{}ml".format(jobdetails["inkcolorwhite"]|int/1000) }}
                    {{ " (${:.2f})".format(jobdetails["inkcolorwhite"]|int/1000*inkcosts[4]) }}</td>
                </tr>
            </table>
        </div>

        {% if not loop.last %}
        <div class="notification" style="margin-top: 20px;"><span class="material-icons" style="vertical-align:middle;">warning</span>Multiple entries exist in the database for this jobid/documentid combination.</p></div>
        {% endif %}

        {% endfor %}
        {% endif %}
        <div class="disclaimer">
            <p>Please note that ink usage is based on droplets fired by the print head and excludes ink used as part of maintenanace processes.</p>
        </div>
        <div class="bottom">
            <p>Generated: {{ now }}</p>
        </div>
    </body>
    </html> 